<head>
<%= stylesheet_link_tag "home", media: "all" %>
</head>

<div class="container text-light p-5 text-center" id="home-container">
    <div class="container p-5">
        <h1 class="display-4">Bem-vindo(a) ao Alpha Blog!</h1>
        <hr class="my-4">
        <p>Crie seu artigo agora mesmo!</p>
        <%= link_to "Inscreva-se!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>