<head>
<%= stylesheet_link_tag "home", media: "all" %>
</head>

<div class="container text-light p-5 text-center" id="home-container">
    <div class="container p-5">
        <h1 class="display-4">Welcome to my Website</h1>
        <hr class="my-4">
        <p>Go to My Website</p>
        <a href="#" class="btn btn-success btn-lg" role="button">Inscreva-se!</a>
    </div>
</div>