<h1 class="text-center mt-4 mb-4">Atualizar Categoria</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'form' %>
    </div>
    
    <%= link_to "[ Cancelar e voltar para a categoria ]", category_path(@category), class: "go-back-partial text-center mb-4" %>
  </div>
</div>
